<% layout("layouts/boilerplate") %>

<div class="d-flex justify-content-between align-items-center">
    <h1 class="fw-semibold fs-2"><i class="fa-solid fa-list"></i> All Campgrounds</h1>
    <a class="btn btn-success shadow" href="/campgrounds/new"><i class="fa-solid fa-plus"></i> Add Campground</a>
</div>

<hr>

<% for (let campground of campgrounds) { %>

    <div class="card mb-2 mt-4 rounded shadow">
        <div class="row">
            <div class="col-md-4">
                <% if (campground.images.length) { %>
                    <img src="<%= campground.images[0].url %>" class="img-fluid rounded">
                <% } else { %>
                    <img src="https://res.cloudinary.com/dwtslthej/image/upload/v1717354604/YelpCamp/default-featured-image.png_vjzli2.jpg" class="img-fluid rounded">
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title fw-semibold"><%= campground.title %></h5>
                    <hr>
                    <p class="card-text"><%= campground.description %></p>
                    <p><small class="text-muted"><i class="fa-solid fa-location-dot"></i> <%= campground.location %></small></p>
                    <a class="btn btn-primary shadow" href="/campgrounds/<%= campground._id %>">View more <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
    </div>

<% } %>