<% layout("layouts/boilerplate") %>

<h1>
    <%= campground.title %>
</h1>
<h2>
    <%= campground.location %>
</h2>

<img src="<%= campground.image %>" width="500">

<p>
    <%= campground.description %>
</p>

<p>
    <button>
        <a href="/campgrounds/<%= campground._id %>/edit">Edit</a>
    </button>
</p>

<p>
<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>
</p>

<footer>
    <a href="/campgrounds">All Campgrounds</a>
</footer>